<!DOCTYPE html>
<html>
<head>
    
    <title>Sekolah Dummy</title>
</head>
<body>    
    <form action="/student" method="POST">
        <label for="first-name">First Name :</label><br>
        <input id="first-name" name="firstName" type="text"><br>
        <label for="last-name">Last Name :</label><br>
        <input id="last-name" name="lastName" type="text"><br>
        <label for="skor">Skor :</label><br>
        <input id="skor" name="skor" type="text"><br>
        <input type="submit" value='submit'>
    </form>
</body>

</html>