<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Document</title>
  </head>
  <body>

      <form action="/student" method="POST">
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        Score :<br>
        <input type="text" name="score"><br>
        <button type="submit" value="Submit">Nama</button>
      </form> 
  </body>
</html>