<%- include ./partial/header.ejs %>
<h1 style="font-family: helvetica; color:rgb(81, 119, 106); text-align: center">I love hacktiv 8 ! <br>
  Welcome to our homepage
</h1>
<%- include ./partial/footer.ejs %>
