<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
</head>
<body>
  <h1>SEKOLAH</h1>
  <h2>Ini adalah profil sekolah</h2>
  <form action="StudentDirect" method="POST">
      <input type="submit" value="Student">
  </form> 
  <form action="TeacherDirect" method="POST">
      <input type="submit" value="Teacher">
  </form>   
  
</body>
</html>