<!DOCTYPE html>
<html lang="en">

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/student">Student</a></li>
    <li><a href="/teachers">Teachers</a></li>
  </ul>

  <h1>Sekolah Anak Bangsa</h1>
  

  <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et
    eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
    repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  

</body>

</html>