<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sekolah Dummy</title>    
</head>
<body>
    <h1>Sekolah Dummy</h1>
    <h2>Selamat datang di sekolah Dummy for learning Express</h2>
    <ul>
        <a href="/student"><li>Daftar Data Student</li></a>        
        <a href="/teacher"><li>Daftar Data Teacher</li></a>
    </ul>
    <p>Halaman Depan</p>
</body>
</html>