<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
</head>
<body>
    <h1>Please input your data here!</h1>
    <form action="/student" method="POST">
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>