<!DOCTYPE html>
<html lang="en">
<head>
  <title>challenget</title>
</head>
<body>
  <h1>STUDENT FORM</h1>
    <form action="Student" method="POST">
        First name:<br>
        <input type="text" name="firstname">
        <br>
        Last name:<br>
        <input type="text" name="lastname">
        <br>
        Age:<br>
        <input type="text" name="age">
        <br>
        email:<br>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="Submit">
      </form>  
</body>
</html>