<%- include ./partial/header.ejs %>
<h1 style="text-align: center; color: blueviolet">Welcome Back</h1><br>
<h2 style="text-align: center ; color: cornflowerblue"> <%= student.name %></h2>
<%- include ./partial/footer.ejs %>
