<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <form action= "/student" method="POST"> 
            <label for= "nama">
                nama<br>
                <input name="nama" type="text"></br>
            </label><br>
            <label for= "email">
                email<br>
                <input name="email" type="text"></br>
            </label><br>
            <label for= "program">
                    program<br>
                    <input name="program" type="text"></br>
                </label><br>
            <input type="submit" value="submit">
        </form>

</body>
</html>