<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Page</title>
  <link rel="stylesheet" href="/public/student.css" type="text/css">
</head>

<body>

  <form action="/student" method="post">
    <div class="container">
      <h2>Form</h2>

      <hr>
      <input type="text" name="firstname" placeholder="Nama depan">
      <input type="text" name="lastname" placeholder="Nama belakang">
      <input type="text" name="class" placeholder="Email">
      <hr>
      <input class="submitbtn" type="submit" value="Submit">

    </div>
  </form>


</body>

</html>