<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h1>Daftar Instruktur</h1>
        <table>
            <tr>
                <th>Nama</th>
                <th>program</th>
            </tr>
            <tr>
                <td>Budi</td>
                <td>Belajar Programming</td>
            </tr>
            <tr>
                <td>Candra</td>
                <td>Belajar TOEFL</td>
            </tr>
            <tr>
                <td>Deni</td>
                <td>Belajar Musik</td>
            </tr>
            <tr>
                <td>Erwin</td>
                <td>Belajar bikin kue</td>
            </tr>
        </table>
</body>
</html>