<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Sekolah Umum</h1>
    <form action="/home" method="POST"> 
        
        <label>student</label><br>
        <input type="text" class="kotak"><br>
        <label>teacher</label><br>
        <input name ="name" type="text" placeholder="name@email"><br>
        <button type="submit" >submit</button>
       
    <p id="demo"></p>
    </form>
</body>
</html>