<!DOCTYPE html>
<html lang="en">
<head>
    <title>School Profile</title>
</head>
<body>
    <h1>Sekolah Pariwara Jakarta Timur</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, similique maxime? Est aut repudiandae molestias sequi quod a, facilis laudantium ratione? Dolores nam magnam laboriosam. Pariatur minima omnis fugit nulla!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, soluta vero! Id natus quidem commodi quo ipsam deleniti maiores non? Facilis delectus tenetur, molestiae asperiores at et quam quo dolores!</p>
    <p>Kegiatan yang bisa diikuti buah hati Anda:</p>
    <ul>
        <li>Membuat aplikasi</li>
        <li>Karya Ilmiah Anak-anak</li>
        <li>English club</li>
        <li>Anti English English Club</li>
    </ul>  
</body>
</html>