<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Form</title>
</head>
<body>
    <form action="/student" method="POST">
        <h3>Full Name:</h3>
        <input type="text" name="Full Name"><br>
        <h3>Kelas:</h3>
        <input type="text" name="Kelas"><br>
        <h3>Wali Murid:</h3>
        <input type="text" name="Wali Murid"><br>
        <h3>Alamat:</h3>
        <input type="text" name="Alamat"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>