<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teachers List</title>
    <style>
        table {
            border: 1px solid rgb(0, 0, 0);
            background: white;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border: 1px solid rgb(0, 0, 0);
        }
        body {
            background-image: url("https://images.pexels.com/photos/448877/pexels-photo-448877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
            background-size: cover;
        }
        th {
            background: Yellow;
        }
        #Judul {
            color: greenyellow;
        }
    </style>
</head>
<body>
    <h1 id="Judul">Teachers List</h1>
    <table>
        <tr>
            <th>NIK</th>
            <th>Nama</th>
            <th>Mata Pelajaran</th>
            <th>Masa Abdi</th>
        </tr>
        <tr>
            <td>372619374617</td>
            <td>Suryati</td>
            <td>Bahasa Indonesia</td>
            <td>5 tahun</td>
        </tr>
        <tr>
            <td>27438190475</td>
            <td>Rachmadi</td>
            <td>Matematika</td>
            <td>10 tahun</td>
        </tr>
        <tr>
            <td>3738371638</td>
            <td>Alfan SA</td>
            <td>Biologi</td>
            <td>7 tahun</td>
        </tr>
        <tr>
            <td>3778738888</td>
            <td>Bintang R.W</td>
            <td>Geologi</td>
            <td>3 tahun</td>
        </tr>
        <tr>
            <td>1123563214</td>
            <td>Fadel Muhammad</td>
            <td>Sejarah</td>
            <td>6 tahun</td>
        </tr>
    </table>
</body>
</html>